/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Righteous|Satisfy|Unica+One|Yellowtail&display=swap');


/* Global styles */

body, * {
  margin: 0 !important;
  padding: 0 !important;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* .hide {
  display: none;
} */

/* temporary styles */
#hero { background: tomato; }
#intro { background: indigo; }
#portfolio { background: tomato; }
#pricing { background: indigo; }
#contact { background: tomato; }

/* Under Construction Styles */

.banner {
  height: 100vh;
  background-image: url('./images/constructionImg.jpg');
  background-size: cover;
  display: flex;
  overflow: hidden;
}
.brand {
  position: relative;
  top: 7.5vh;
  left: 2.5vw;
  font-family: 'Yellowtail', cursive;
}
.brand h1 {
  font-size: 3vw;
}
.brand p {
  position: relative;
  left: 10vw;
  font-size: 2.5vw;
}
.message {
  position: relative;
  top: -12vh;
  left: 52vw;
}
.message h2 {
  font-family: 'Satisfy', cursive;
  font-size: 4vw;
}
.message h3 {
  font-family: 'Righteous', cursive;
  font-size: 3.5vw;
  word-spacing: 1.5px;
}
.message p {
  font-family: 'Unica One', cursive;
  font-size: 1.75vw;
}
.ribbon {
  position: relative;
  width: 0vw;
  height: 10vh;
  top: -32vh;
  left: 52vw;
}
.ribbon h3 {
  padding-top: 1.25vh !important;
}
.ribbon {
  background: #4b9ae5;
  display: inline-block;
  color: #f4f4f4;
  padding: 0.5em 0.7em;
  font-weight: 900;
  letter-spacing: 0.2em;
  position: relative;
  font-size: 2.5em;
  text-transform: uppercase;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate(-15deg) skew(-15deg, 10deg);
          transform: rotate(-15deg) skew(-15deg, 10deg);
}
.ribbon:before, .ribbon:after {
  content: "";
  width: 0;
  height: 2em;
  display: block;
  background: #4993da;
  position: absolute;
  border-style: solid;
  border-width: 0.5em;
  z-index: -1;
  -webkit-transform: translateZ(-1em);
          transform: translateZ(-1em);
}
.ribbon:before {
  left: -0.5em;
  top: 0.5em;
  border-color: #358de2 #1d74c7 #358de2 #358de2;
}
.ribbon:after {
  right: -0.5em;
  top: -0.5em;
  border-color: #358de2 #358de2 #358de2 #1d74c7;
}

.contactMe {
  position: relative;
  top: 0vh;
  right: -1vw;
  color: #4b9ae5;
  font-family: 'Unica One', cursive;
  font-size: 3vw;
}


@media (max-width: 768px) {
  .banner {
    background-position: 60%;
  }
  .brand {
    top: 2vh;
  }
  .brand h1 {
    font-size: 3rem;
  }
  .brand p {
    font-size: 2rem;
  }
  .message {
    top: -24vh;
    left: 28vw;
  }
  .message h2, .message h3 {
    font-size: 2.5rem;
  }
  .message p {
    font-size: 1.5rem;
  }
  .ribbon {
    top: -38vh;
left: 38vw;
height: 12vh;
max-width: 58%;
  }
  .ribbon h3 {
    font-size: 1.5rem;
  }
  .contactMe {
    top: 0vh;
    left: 2vw;
    font-size: 2rem;
  }
}

@media (max-width: 575.98px) {
  .banner {
    background-position: 65%;
  }
  .brand {
    top: 2.5vh;
  }
  .brand h1 {
    font-size: 3rem;
  }
  .brand p {
    font-size: 2rem;
  }
  .message {
    top: 2vh;
    left: 32vw;
  }
  .message h2, .message h3 {
    font-size: 2rem;
  }
  .message p {
    font-size: 1.5rem;
  }
  .ribbon {
    top: -52vh;
    left: 32vw;
    width: 62%;
  }
  .ribbon h3 {
    font-size: 1.5rem;
  }
  .contactMe {
    top: 0vh;
    left: 2vw;
    font-size: 2rem;
  }
}

/* End of Construction Styles */

.foobar {
  font-size: 5vw;
  color: yellow;
}

section {
  height: 100vh;
}
section:nth-child(3){
  height: 50vh;
}
.set1, .set3 {
  background: grey;
}
.set2 {
  background: firebrick;
}

/* Content styles */

.content-wrapper {
  height: auto;
  width: auto;
}

/* Navigation styles */

.nav-wrapper {
  display: none; /* remove until onScroll event is solved */
  position: fixed;
  top: 5vh;
  left: 0;
  width: 100%;
  background: transparent;
}
.test {
  color: orange;
}
/* Hero styles */
#hero {
  /* background-image: url('./images/heroImg.jpg'); */
  background-position: center;
  background-size: cover;
}

/* Intro styles */
.intro-content {
  height: 40vh;
  width: 75vw;
  background: tomato;
}
.intro-content h1 {
  position: relative;
  top: 2.5vh;
}
.intro-content p {
  position: relative;
  top: 8vh;
  padding: 0 5.5vw !important;
  font-size: 3vmin
}

/* Information section styles */

#portfolio-info {
  height: 100%;
  align-content: center;
  ul {
  height: 100%;
  }
    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
        p {
          font-size: 2vw;
          padding: 4vh 1vw !important;
        }
    }
    li {

      font-size: 4vw;
    }
    /* // use this to activate the portfolio type the user wants to view */
    .active {
      flex-grow: 5 !important;
      display: initial;
    }
}
#portfolio-info {
  height: 100%;
  align-content: center;
}
#portfolio-info ul {
  height: 100%;
}
#portfolio-info li {
  font-size: 4vw;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.tab * {
  pointer-events: none;
}
.tab p {
  display: none;
}
/* use this to activate the portfolio type the user wants to view */
 .active {
  flex-grow: 3 !important;
  display: initial;
  padding: 2vw !important;
  background: #60D4C8;
  transition: all 2.5s;
}
 .active p {
  display: flex;
  font-size: 3.5vmin;
  padding: 4vh 1vw !important;
  transition: all 1.5s ease-in;
}
.inActive {
  flex-grow: 1 !important;
  transition: all 1.25s ease-out;
}


/* Gallery section styles */

#gallery {
  height: 100%;
  position: absolute;
  right: 0;
  overflow: auto;
}
.img-scroll, .img {
    height: 100%;
}

/* Pricing section styles */

#pricing {
  height: 100vh;
}
.price-container {
  height: 100%;
}
.square {
  height: 50vh;
}
.weddings, .autos {
  background: firebrick;
}
.portraits, .sessions {
  background: blue;
}

/* Contact styles */

#contact {
  height: 100vh;
  position: relative;
}
#contact-img {
  height: 90vh;
  position: absolute;
  background: indigo;
  bottom: 0;
}
#contact-info {
  height: 100%;
  position: absolute;
  right: 0;
  overflow: auto;
}
.contact-scroll {
  height: 100%;
}
/* Footer styles */

footer {
  height: 10vh;
  background: black;
  position: absolute !important;
  bottom: 0;
  right: 0;
}









/* MEDIA QUERIES */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  #gallery, #portfolio {
    display: none !important;
  }
  #portfolio-min, #gallery-min {
    height: 100vh;
    background: tomato;
  }
  #portfolio-info-min {
    height: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
  }
  .btnWrapper {
      width: 250px;
      height: 150px;
      margin: 7.5vw!important;
      background: indigo;
      position: relative;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
    }
    .btnWrapper:before {
      content: "";
      position: absolute;
      top: -62.5px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 125px solid transparent;
      border-right: 125px solid transparent;
      border-bottom: 62.5px solid indigo;
    }
    .btnWrapper:after {
      content: "";
      position: absolute;
      bottom: -62.5px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 125px solid transparent;
      border-right: 125px solid transparent;
      border-top: 62.5px solid indigo;
    }
#weddings-min {

}
#portraits-min {

}
#sessions-min {

}
#auto-min {

}
#gallery-min {
  /* position: relative;
  top: -100vh;
  left: 0vw; */
}
.return {
    width: 100px;
    height: 60px;
    background: green;
    position: absolute;
    top: 5vh;
    left: 2.5vw;
  }
  .return:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid green;
  }
  .return:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid green;
  }


.img-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  background-size: cover;
}
.img {
  flex: 0 0 auto;
  height: 100%;
  width: 100%;
  list-style-type: none;
}

  .gallery-link {
    align-self: center;
    position: relative;
    top: 85vh;
    font-size: 5vmin;
    padding: 0 2vw !important;
  }


  #contact-img {
    display: none;
  }
  #contact-info {
    width: 100%;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #portfolio-min {
    /* display: none; */
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  #portfolio-min {
    /* display: none; */
  }
}



.active {
  color: green;
}
.inActive {
  color: red;
}

.reveal {
  visibility: visible;
}
.hide {
  display: none;
  overflow: hidden;
}
